@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url(/fonts/inter-latin-400-normal.woff2);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(/fonts/inter-latin-600-normal.woff2);
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: "Inter";
  user-select: none; /* Evita la selección de texto */
  -webkit-user-drag: none; /* Evita arrastrar imágenes en Safari */
  -webkit-touch-callout: none; /* Evita el menú contextual en iOS */
  -webkit-tap-highlight-color: transparent; /* Elimina el efecto de toque en móviles */
  outline: none; /* Evita los contornos en elementos enfocados */
}

.white-content {
  background-color: #ffffff;
}

@layer components {
  .logo-fade-in-top {
    animation: logo-fade-in-top 1.5s ease-in-out;
  }

  .fade-in-main {
    animation: fade-in 1.6s;
  }

  .animate-fade-in {
    animation: fade-in 0.5s ease-in-out;
  }

  .animate-fade-in-up {
    animation: fade-in-up .7s ease-in-out;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-in-up {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }

  @keyframes logo-fade-in-top {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }

  }
}