---
import '@/styles/global.css';
import Layout from "@/layouts/main.astro"
import Menu from '@/components/menu.astro';
---

<Layout>
	<Menu/>
	<div class="h-[70dvh] flex items-center justify-center flex-col px-4">
	
	</div>
</Layout>