---
const { name } = Astro.props;
import { getToken } from "@/lib/token";
import { getStudent } from "@/lib/student";

import ButtonStats from "@/components/buttonStats";

const token = await getToken();
const res = (await getStudent(name, token?.token ?? '')) as any;

const student = {
    nombre: res?.nombre,
    carrera: res?.planesEstudios?.[0]?.unidadAcademica?.nombreCarrera,
}
---

{!student?.nombre ? (
    <div class="mb-[1rem] rounded-2xl border bg-card p-6 shadow-lg white-content [@media(max-width:711px)]:p-2">
      <div class="flex flex-col gap-4 animate-fade-in md:flex-row md:items-center md:justify-between">
        <div class="flex items-center gap-4">
          <span class="relative flex size-8 shrink-0 overflow-hidden rounded-full h-16 w-16 border-2 border-primary bg-muted"></span>
          <div>
            <h1 class="text-xl font-bold">Estudiante no encontrado</h1>
            <div class="flex items-center gap-2 text-muted-foreground">
              <span class="text-base text-gray-500">No se ha podido encontrar la información</span>
            </div>
          </div>
        </div>
      </div>
    </div>
) : (
    <div class="mb-[1rem] rounded-2xl border bg-card p-6 shadow-lg white-content [@media(max-width:711px)]:p-2">
        <div class="flex flex-col gap-4 animate-fade-in md:flex-row md:items-center md:justify-between">
            <div class="flex items-center gap-4">
                <span  class="relative flex size-8 shrink-0 overflow-hidden rounded-full h-16 w-16 border-2 border-primary">
                    <img class="aspect-square size-full" alt="@duoc" src="/avatar.webp" />
                </span>
                <div>
                    <h1 class="text-xl font-bold">{student?.nombre}</h1>
                    <div class="flex items-center gap-2 text-muted-foreground">
                        <span class="text-base text-gray-500">{student?.carrera}</span>
                    </div>
                </div>
            </div>
            <div class="flex flex-col gap-2 sm:flex-row sm:items-center sm:gap-4">
                <ButtonStats client:load />
            </div>
        </div>
    </div>
)}