---

---

<nav class="mt-[1rem] flex items-center justify-center flex-wrap fade-in-main">
    <a href="/">
        <div>
            <h4 class="text-[1.650rem] font-bold">DuocDB</h4>
        </div>
    </a>
</nav>