<div class="mt-[1rem] rounded-lg border p-4 bg-white shadow-sm">
    <h3 class="text-sm font-medium text-zinc-950 mb-2">Escala de Calificaciones</h3>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-4 text-sm mx">
      <div>
        <span class="text-zinc-500">Excelente:</span> 7.0 - 6.0
      </div>
      <div>
        <span class="text-zinc-500">Bueno:</span> 5.9 - 5.0
      </div>
      <div>
        <span class="text-zinc-500">Satisfactorio:</span> 4.9 - 4.0
      </div>
      <div>
        <span class="text-zinc-500">Reprobado:</span> 3.9 - 1.0
      </div>
    </div>
</div>