---
const { title } = Astro.props;
import { ClientRouter } from 'astro:transitions';
import Analytics from '@vercel/analytics/astro'
import '@/styles/global.css';
---

<html lang="es">
	<head>
		<Analytics />
		<ClientRouter />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="title" content="DuocDB">
		<meta name="description" content="base de datos de instituto DuocUc, busca estadistica, historial de notas por semestres, y horario">
		<meta name="keywords" content="duocuc, duocdb, database, db">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="Spanish">
		<title>{title || "DuocDB"}</title>
	</head>
	<body>
		<div class="fixed left-0 top-0 -z-10 h-full w-full"><div class="relative h-full w-full bg-white"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#000_70%,transparent_110%)]"></div></div></div>
		<main class="max-w-screen-xl mx-auto mt-[1rem] p-4">
			<slot />
		</main>
	</body>
</html>
